In [3]:
#Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [2]:
'''
SELECT LEFT (FIRST_NAME,3) FROM Worker; 
or
SELECT SUBSTRING (FIRST_NAME, 1, 3) From Worker;

'''

'\nSELECT LEFT (FIRST_NAME,3) FROM Worker; \nor\nSELECT SUBSTRING (FIRST_NAME, 1, 3) From Worker;\n\n'

In [3]:
#Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [4]:
'''
SELECT POSITION('a' IN FIRST_NAME) FROM Worker WHERE FIRST_NAME = "Amitabh"; 
or 

# For Case Sensitive Search
SELECT CHARINDEX('a', 'Amitabh' Collate Latin1_General_CS_AS) As Character_Position;
or 


# For non Case Sensitive Search
SELECT CHARINDEX('a', 'Amitabh' Collate Latin1_General_CI_AS) As Character_Position;

'''

'\nSELECT POSITION(\'a\' IN FIRST_NAME) FROM Worker WHERE FIRST_NAME = "Amitabh"; \nor \n\n# For Case Sensitive Search\nSELECT CHARINDEX(\'a\', \'Amitabh\' Collate Latin1_General_CS_AS) As Character_Position\nor \n\n\n# For non Case Sensitive Search\nSELECT CHARINDEX(\'a\', \'Amitabh\' Collate Latin1_General_CI_AS) As Character_Position\n\n'

In [5]:
#Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [6]:
'''
SELECT FIRST_NAME, LAST_NAME, A.DEPARTMENT, SALARY FROM Worker As A
INNER JOIN
(
SELECT DEPARTMENT, MAX(Salary) As MaxSalary From Worker Group By Department) As B

ON A.DEPARTMENT = B.DEPARTMENT
AND A.Salary= B.MaxSalary

or 
SELECT CONCAT(FIRST_NAME," ",LAST_NAME) AS 'NAME' 
FROM Worker
Group By Department
Having Max(SALARY);
'''

'\nSELECT FIRST_NAME, LAST_NAME, A.DEPARTMENT, SALARY FROM Worker As A\nINNER JOIN\n(\nSELECT DEPARTMENT, MAX(Salary) As MaxSalary From Worker Group By Department) As B\n\nON A.DEPARTMENT = B.DEPARTMENT\nAND A.Salary= B.MaxSalary\n\nor \nSELECT CONCAT(FIRST_NAME," ",LAST_NAME) AS \'NAME\' \nFROM Worker\nGroup By Department\nHaving Max(SALARY)\n'