In [2]:
# Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.

In [3]:
'''Sol. 
SELECT FIRST_NAME AS "WORKER_NAME" FROM Worker;'''

'Sol. \nSELECT FIRST_NAME AS "WORKER_NAME" FROM Worker;'

In [4]:
# Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [5]:
'''Sol. 
SELECT DISTINCT DEPARTMENT FROM Worker;'''

'Sol. \nSELECT DISTINCT DEPARTMENT FROM Worker;'

In [6]:
# Q-3. Write an SQL query to show the last 5 record from a table.

In [7]:
'''Sol. 
CREATE TABLE employee123 (
    ID bigint (4) PRIMARY KEY,
    NAME VARCHAR(30) NOT NULL,
    PHONE BIGINT(10) NOT NULL UNIQUE,
    EMAIL VARCHAR(30) NOT NULL UNIQUE
    );

INSERT INTO employee123 (ID, NAME, PHONE, EMAIL)
VALUES
(0001, 'Yogesh Vaishnav', 0000000001, 'yogesh@mail.com'),
(0002, 'Vishal Vishwakarma', 0000000002, 'chicha@mail.com'),
(0003, 'Ajit Yadav', 0000000003, 'ppa@mail.com'),
(0004, 'Ashish Yadav', 0000000004, 'baba@mail.com'),
(0005, 'Tanvi Thakur', 0000000005, 'tanvi@mail.com'),
(0006, 'Sam', 0000000006, 'sam@mail.com'),
(0007, 'Ron', 0000000007, 'ron@mail.com'),
(0008, 'Sara', 0000000008, 'sara@mail.com'),
(0009, 'Zara', 0000000009, 'zara@mail.com'),
(0010, 'Yoji', 0000000010, 'yoji@mail.com');'''

"Sol. \nCREATE TABLE employee123 (\n    ID bigint (4) PRIMARY KEY,\n    NAME VARCHAR(30) NOT NULL,\n    PHONE BIGINT(10) NOT NULL UNIQUE,\n    EMAIL VARCHAR(30) NOT NULL UNIQUE\n    );\n\nINSERT INTO employee123 (ID, NAME, PHONE, EMAIL)\nVALUES\n(0001, 'Yogesh Vaishnav', 0000000001, 'yogesh@mail.com'),\n(0002, 'Vishal Vishwakarma', 0000000002, 'chicha@mail.com'),\n(0003, 'Ajit Yadav', 0000000003, 'ppa@mail.com'),\n(0004, 'Ashish Yadav', 0000000004, 'baba@mail.com'),\n(0005, 'Tanvi Thakur', 0000000005, 'tanvi@mail.com'),\n(0006, 'Sam', 0000000006, 'sam@mail.com'),\n(0007, 'Ron', 0000000007, 'ron@mail.com'),\n(0008, 'Sara', 0000000008, 'sara@mail.com'),\n(0009, 'Zara', 0000000009, 'zara@mail.com'),\n(0010, 'Yoji', 0000000010, 'yoji@mail.com');"

In [8]:
'''(SELECT * FROM employee123 ORDER BY ID DESC LIMIT 5) ORDER by ID ASC;'''

'(SELECT * FROM employee123 ORDER BY ID DESC LIMIT 5) ORDER by ID ASC;'