In [15]:
# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

In [16]:
'''SELECT REPLACE(FIRST_NAME, 'A', 'a') FROM Worker;'''

"SELECT REPLACE(FIRST_NAME, 'A', 'a') FROM Worker;"

In [17]:
# Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [18]:
'''SELECT * FROM Worker ORDER BY FIRST_NAME ASC AND DEPARTMENT DESC;'''

'SELECT * FROM Worker ORDER BY FIRST_NAME ASC AND DEPARTMENT DESC;'

In [19]:
# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [20]:
'''
SELECT CONCAT(FIRST_NAME, " ", LAST_NAME) AS NAME 
WHERE SALARY = (SELECT MAX(SALARY) FROM Worker);
'''

'\nSELECT CONCAT(FIRST_NAME, " ", LAST_NAME) AS NAME \nWHERE SALARY = (SELECT MAX(SALARY) FROM Worker);\n'