In [3]:
# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [4]:
'''
SELECT RTRIM('FIRST_NAME') AS RightTrimmed_FIRST_NAME FROM Worker;
'''

"\nSELECT RTRIM('FIRST_NAME') AS RightTrimmed_FIRST_NAME FROM Worker;\n"

In [5]:
# Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [6]:
'''
SELECT DISTINCT(DEPARTMENT), Len(DEPARTMENT) As Char_Length FROM Worker;
'''

'\nSELECT DISTINCT(DEPARTMENT), Len(DEPARTMENT) As Char_Length FROM Worker;\n'

In [7]:
# Q-3. Write an SQL query to fetch nth max salaries from a table.

In [8]:
'''
Assumed N=10

SELECT top 10 * FROM Worker ORDER BY SALARY DESC;
'''

'\nAssumed N=10\n\nSELECT top 10 * FROM Worker ORDER BY SALARY DESC;\n'